
<center>
  <br>
  <br>
<h1>Update Post</h1>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div style= "border: solid 2px; width: 900px; height: 700px;">
  <div class="field" style = "margin:20px;">
   <strong> <%= f.label :title %></strong><br>
    <%= f.text_field :title, size: "50X10" %>
  </div>
  <br>
  <div class="field" style = "margin:20px;">
    <strong><%= f.label :body %></strong><br>
    <%= f.text_area :body, size: "100X500" %>
  </div>
  <br>
  <div class="field" style = "margin:20px;">
    <strong><%= f.label :user_id %></strong><br>
    <%= f.number_field :user_id %>
  </div>
  <br>
  <div class="actions" style = "margin:20px;">
    <%= f.submit %>
  </div>
  </div>
  </center>
<% end %>